<template>
  <ul id='siteMenu'>
    <li>
      <button v-on:click='toggleTopMenu(1)' class='menuLevel1'>
        <i class="fa fa-lg fa-bars"></i>
        <span>Association Admin</span>
        <span class="fa fa-lg"></span>
      </button>
      <ul class="sub-menu1" v-show="topLevel === 1">
        <li class="menu-dropdown">
          <router-link tag="li" to="/boxed" exact>
            <a class="logo">
              <i class="fa fa-fw fa-bars"></i>
              <span class="mm-text"> Boxed Layout</span>
            </a>
          </router-link>
        </li>
        <li>
          <button v-on:click='toggleSecondLevel(1)' class='menuLevel1'>
            <i class="fa fa-lg fa-bars"></i>
            <span>Association Admin</span>
            <span class="fa fa-lg"></span>
          </button>
          <ul class="sub-menu2" v-show="secondLevel === 1">
            <li class="menu-dropdown">
              <router-link tag="li" to="/boxed" exact>
                <a class="logo">
                  <i class="fa fa-fw ti-view-list"></i>
                  <span class="mm-text"> Boxed Layout</span>
                </a>
              </router-link>

            </li>
          </ul>
        </li>
      </ul>
    </li>
    <router-link tag="li" to="/boxed" exact>
      <a class="logo">
        <span class="fa fa-fw fa-lg fa-bars"></span>Boxed Layout
      </a>
    </router-link>
    <router-link tag="li" to="/boxed" exact>
      <a class="logo">
        <span class="fa"></span>Boxed Layout
      </a>
    </router-link>
  </ul>
</template>

<script>
// insert any component imports here.
export default {
  //
  name: 'siteMenu',
  // Must return.
  data () {
    return {
      topLevel: 0,
      secondLevel: 0,
      thirdLevel: 0
    }
  },
  // Simple manipulations of data when the component loads.
  computed: {},
  // runs once when the component is loaded.
  // only runs once.
  // define n members
  mounted () {
  },
  // A list of all ui event handlers.
  methods: {
    toggleTopMenu: function (top) {
      if (top === this.topLevel) {
        this.topLevel = 0
        this.secondLevel = 0
        this.thirdLevel = 0
        return
      }
      this.topLevel = top
    },
    toggleSecondLevel: function (levelId) {
      if (levelId === this.secondLevel) {
        this.secondLevel = 0
        this.thirdLevel = 0
        return
      }
      this.secondLevel = levelId
    },
    toggleThirdLevel: function (levelId) {
      if (levelId === this.thirdLevel) {
        this.thirdLevel = 0
        return
      }
      this.topLevel = top
    }
  }
}
</script>

<style lang='scss'>
@import "../assets/css/site.scss";
#siteMenu,
#siteMenu ul {
  list-style-type: none;
  padding-left: 7px;
  margin-top: 10px;
}

#siteMenu button,
#siteMenu a {
  font-size: 14pt;
  text-decoration: none;
  color: $menu-text-color;
}

#siteMenu button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#siteMenu ul li {
  margin: 10px;
}

#siteMenu ul li:last-of-type {
  margin-bottom: 20px;
}

#siteMenu li button>.fa:first-of-type,
#siteMenu li a>.fa:first-of-type {
  margin-right: 10px;
}

#siteMenu ul li:last-of-type {
  margin-bottom: 20px;
}

#siteMenu>li>a {
  margin-left: 2px;
  display: block;
  margin-top: 10px;
}
</style>