<template>
  <header id="siteHeader">
    <h1>
      <button v-on:click='this.toggleMenu'>
        <span class="fa fa-2x fa-fw fa-bars"></span>
      </button>
      <a href="/">
        Enter Up
        <span>by Rodeo Central Entry</span>
      </a>
    </h1>
  </header>
</template>

<script>
export default {
  name: 'siteHeader',
  methods: {
    toggleMenu (event) {
      this.$emit('menuToggled')
    }
  }
}
</script>

<style lang='scss'>
@import "../assets/css/site.scss";
header {
  width: 100%;
  height: 60px;
  top: 0;
  position: fixed;
  padding: 10px;
  background-color: $header-background-color;
  padding: 0;
}

#siteHeader>h1 {
  margin: 12px 10px;
}

#siteHeader>h1,
#siteHeader>h1>a {
  color: $header-text-color;
  text-decoration: none;
}

#siteHeader>h1>a>span {
  font-size: 10pt;
  margin-left: 10px;
  @media screen and (max-width: $break-small) {
    display: none;
  }
}

#siteHeader button,
#siteHeader button:focus {
  background-color: transparent;
  border: none;
  color: #ffc593;
  outline: none;
  cursor: pointer;
}
</style>