
$header-background-color: #0D47A1;
$header-text-color: #ffc593;

$menu-background-color: #0D47A1;
$menu-text-color: #ffc593;

$break-medium: 992px;
$break-small: 767px;
$break-xs: 560px;

html {
    min-width: 320px;
    margin: 0;
    padding: 0;
  }
  
body {
    margin: 0;
}