<template>
  <div id="app">
    <siteHeader v-on:menuToggled='onMenuToggled'></siteHeader>
    <div id="mainContent">
      <div id='leftNav' v-show='showMenu'> 
        <siteMenu></siteMenu>
      </div>
      <div id='viewContent' v-bind:class="{ menuClosed: !showMenu}">
        <div id='leftViewContent'>
          <router-view></router-view>
        </div>
        <div id='rightViewContent'>
          asdfasfasd  as dd a af
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import 'font-awesome/css/font-awesome.css'
import 'cool-checkboxes-for-bulma.io/dist/css/bulma-radio-checkbox.css'
import 'bulma/css/bulma.css'
import siteHeader from './layout/siteHeader'
import siteMenu from './layout/menu'
export default {
  name: 'app',
  data () {
    return {
      showMenu: window.innerWidth >= 767
    }
  },
  components: {
    'siteHeader': siteHeader,
    'siteMenu': siteMenu
  },
  methods: {
    onMenuToggled () {
      this.showMenu = !this.showMenu
    }
  }
}
</script>

<style lang='scss'>
@import "../src/assets/css/site.scss";
#mainContent {
  margin-top: 60px;
}

#viewContent,
#leftNav {
  padding: 10px;
  padding-top: 5px;
}

#viewContent {
  padding: 10px;
  padding-left: 260px;
  @media screen and (max-width: $break-xs) {
    display: none;
  }
}

#leftNav {
  float: left;
  width: 250px;
  min-height: calc(100vh - 75px);
  background-color: $menu-background-color;
}

#viewContent.menuClosed {
  padding-left: 25px;
  display: inherit;
}
</style>
