<template>
</template>

<script>
// insert any component imports here.
export default {
    //
  name: '',
    // Must return.
  data () {
    return {
      temp: 'some value'
    }
  },
    // Simple manipulations of data when the component loads.
  computed: {

  },
    // runs once when the component is loaded.
    // only runs once.
    // define n members
  mounted () {

  },
    // A list of all ui event handlers.
  methods: {

  },
    // Register the list of components used in this component.
  components: {

  }
}
</script>

<style lang='scss'>
  @import "../assets/css/site.scss";
</style>