<template>
<div>
  <linkList 
    searchLabel='Search for Association'
    placeHolderText='Search for association by name.'
    headerText = 'Associations'
    v-on:searchTextChanged='searchTextChanged'></linkList>
    {{searchText}}
</div>
</template>

<script>
// insert any component imports here.
import linkList from '../siteparts/linkList'
export default {
    //
  name: '',
    // Must return.
  data () {
    return {
      temp: 'some value',
      searchText: ''
    }
  },
    // Simple manipulations of data when the component loads.
  computed: {

  },
    // runs once when the component is loaded.
    // only runs once.
    // define n members
  mounted () {

  },
    // A list of all ui event handlers.
  methods: {
    searchTextChanged (text) {
      this.searchText = text.searchText
    }
  },
    // Register the list of components used in this component.
  components: {
    'linkList': linkList
  }
}
</script>

<style lang='scss'>
  @import "../assets/css/site.scss";
</style>