<template>
  <div class='contentHeader'>
  <h1>{{headerText}}</h1>
  <h2 v-if='subHeaderText && subHeaderText.length > 0'>{{subHeaderText}}</h2>
  </div>
</template>

<script>
export default {
  name: 'contentHeader',
  props: {
    headerText: String,
    subHeaderText: String
  }
}
</script>

<style lang='scss'>
  @import "../assets/css/site.scss";
</style>