<template>
<div class="linkList">
  <contentHeader :headerText='headerText' :subHeaderText='subHeaderText'></contentHeader>
  <searchBox v-on:searchTextChanged='searchTextChanged' :searchLabel='searchLabel' :placeHolderText='placeHolderText'></searchBox>
</div>
</template>

<script>
// insert any component imports here.
import contentHeader from '../siteparts/contentHeader'
import searchBox from '../siteparts/searchBox'
export default {
    //
  name: 'linkList',
  props: {
    searchLabel: String,
    placeHolderText: String,
    headerText: String,
    subHeaderText: String
  },
    // Must return.
  data () {
    return {
      tempa: 'some value'
    }
  },
    // Simple manipulations of data when the component loads.
  computed: {

  },
    // runs once when the component is loaded.
    // only runs once.
    // define n members
  mounted () {

  },
    // A list of all ui event handlers.
  methods: {
    searchTextChanged (text) {
      this.$emit('searchTextChanged', text)
    }
  },
    // Register the list of components used in this component.
  components: {
    'contentHeader': contentHeader,
    'searchBox': searchBox
  }
}
</script>

<style lang='scss'>
  @import "../assets/css/site.scss";
</style>