<template>
  <div class='searchBox'>
    <label class='inputLabel'>{{searchLabel}}</label>
    <input type="text" v-model='searchText' v-bind:placeholder='placeHolderText' @keyup='searchTextChanged' />
    <div>
        <div class="b-checkbox is-info is-inline">
          <input id="cbShowDeleted" class="styled" v-model='showDeleted' type="checkbox" @change="searchTextChanged">
          <label for="cbShowDeleted">
            Is Warning
          </label>
        </div>
        <div class="b-checkbox is-info is-inline">
          <input id="cbShowInactive" class="styled" v-model='showInactive' type="checkbox" @change="searchTextChanged">
          <label for="cbShowInactive">
            Is Warning
          </label>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: '',
  props: {
    searchLabel: String,
    placeHolderText: String
  },
  data () {
    return {
      searchText: '',
      showInactive: false,
      showDeleted: false
    }
  },
  methods: {
    searchTextChanged (event) {
      this.$emit('searchTextChanged', {
        searchText: this.searchText,
        showInactive: this.showInactive,
        showDeleted: this.showDeleted
      })
    }
  }
}
</script>

<style lang='scss'>
@import "../assets/css/site.scss";
</style>